.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
  justify-content: flex-start;
}

@media (max-width: 900px) {
  .header__logo {
    margin: 28px auto 31px 27px;
  }
}
@media (max-width: 787px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}
