.profile__add-button {
  width: 150px;
  height: 50px;
  background-image: url(../../../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  align-self: center;
}

@media (max-width: 787px) {
  .profile__add-button {
    width: 282px;
    height: 50px;
  }
}
