.profile__discription {
  max-width: 336px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  color: #FFFFFF;
  margin: 0;
}

@media (max-width: 787px) {
  .profile__discription {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

  }
}
