.popup__text {
  width: 358px;
  border: 0;
  border-bottom: 1px solid #000000;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 5px 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media (max-width: 787px) {
  .popup__text {
    width: 238px;

  }
}
